//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "bootstrap";
@import "mappy-breakpoints";



//============================================================================
//================================== FONTS ===================================
//============================================================================

/* Custom Fonts */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic);


/* Variables */

$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;



//============================================================================
//================================ BREAKPOINTS ===============================
//============================================================================

$bp-mini	: 320px;
$bp-small	: 640px;
$bp-medium	: 768px;
$bp-large	: 1024px;
$bp-wide	: 1440px;

$breakpoints: (
  'mini'	: $bp-mini,
  'small'	: $bp-small,
  'medium'	: $bp-medium,
  'large'	: $bp-large,
  'wide'	: $bp-wide
);

$mappy-queries: (
  smartphone: 		mappy-bp(max-width small),
  non-smartphone: 	mappy-bp(small)
);

$grid-float-breakpoint: $bp-small;

//============================================================================
//================================== COLORS ==================================
//============================================================================

$color-pearl: #FCFCFC;
$color-charcoal: #1A1A1A;
$color-ash: #424242;
$color-fuchsia: #D92959;
$color-teal: #00c0c0;
$color-amber: #FFB600;

@function color-charcoal-alpha ($alpha:0.3) {
	@return #{"rgba(26, 26, 26, " + $alpha + ")"};
}

@function color-pearl-alpha ($alpha:0.3) {
	@return #{"rgba(99, 99, 99, " + $alpha + ")"};
}


//============================================================================
//============================= RESPONSIVE DESIGN ============================
//============================================================================

/* Responsive property mixins */

// Public

@mixin pv-responsive ($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important: false) {
	@include responsive-property-value($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important);
}

// Private

@mixin responsive-property-value ($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important: false) {

	@include mappy-bp(wide) {
		@if $is-important == true { 
			#{$property-name}: $wide-value !important; 
		} @else {
			#{$property-name}: $wide-value; 
		}
	}
	@include mappy-bp(large wide) {
		@if $is-important == true { 
			#{$property-name}: $large-value !important; 
		} @else {
			#{$property-name}: $large-value; 
		}
	}
	@include mappy-bp(medium large) {
		@if $is-important == true { 
			#{$property-name}: $medium-value !important; 
		} @else {
			#{$property-name}: $medium-value; 
		}
	}
	@include mappy-bp(small medium) {
		@if $is-important == true { 
			#{$property-name}: $small-value !important; 
		} @else {
			#{$property-name}: $small-value; 
		}
	}
	@include mappy-bp(max-width small) {
		@if $is-important == true { 
			#{$property-name}: $mini-value !important; 
		} @else {
			#{$property-name}: $mini-value; 
		}
	}
}

//============================================================================
//================================ GRADIENT BG ===============================
//============================================================================

@mixin background-image-fade-top-bottom($color-r, $color-g, $color-b, $background-image-url) {

	background-image: -webkit-linear-gradient(top, 
		rgba($color-r, $color-g, $color-b, 1) 5%, 
		rgba($color-r, $color-g, $color-b, 0) 15%,
		rgba($color-r, $color-g, $color-b, 0) 85%,
		rgba($color-r, $color-g, $color-b, 1) 95%
	),
	url($background-image-url);

	background-image: -moz-linear-gradient(top, 
		rgba($color-r, $color-g, $color-b, 1) 5%, 
		rgba($color-r, $color-g, $color-b, 0) 15%,
		rgba($color-r, $color-g, $color-b, 0) 85%,
		rgba($color-r, $color-g, $color-b, 1) 95%
	),
	url($background-image-url);
}

@mixin dark-overlay-fade-top-bottom-color($color-r, $color-g, $color-b, $alpha) {

	background: -webkit-linear-gradient(top, 
		rgba($color-r, $color-g, $color-b, 0) 5%, 
		rgba($color-r, $color-g, $color-b, $alpha) 15%,
		rgba($color-r, $color-g, $color-b, $alpha) 85%,
		rgba($color-r, $color-g, $color-b, 0) 95%
	);

	background: -moz-linear-gradient(top, 
		rgba($color-r, $color-g, $color-b, 0) 5%, 
		rgba($color-r, $color-g, $color-b, $alpha) 15%,
		rgba($color-r, $color-g, $color-b, $alpha) 85%,
		rgba($color-r, $color-g, $color-b, 0) 95%
	);
}



//============================================================================
//=============================== GLOBAL STYLES ==============================
//============================================================================

*{
	margin: 0;
	padding: 0;
	color: $color-ash;
	font-family: $font-family-base;
	font-weight: $font-weight-thin;
}

article, section, main, aside, header, footer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

span {
	font-weight: $font-weight-thin;
}

strong {
	font-weight: $font-weight-light;
}

a {
	font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5 ,h6 {
	text-transform: uppercase;
	font-family: $font-family-base;
	font-weight: $font-weight-light;
	margin-top: 0;
}

.text-color-pearl {
	span, p, q, h1, h2, h3, h4, h5, h6, strong {
		color: $color-pearl;
	}
}



//============================================================================
//================================= OVERLAYS =================================
//============================================================================

.dark-overlay {
    background-color: color-charcoal-alpha();
    position: absolute;
    width: 100%;
    height: 100%;
}

.dark-overlay-fade {
	@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}



//============================================================================
//================================== LAYOUT ==================================
//============================================================================

.centered-flex {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centered-flex-vertical {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.max-width-wrap {

  	@include mappy-bp(wide) {
		max-width: $bp-wide;
	}
	@include mappy-bp(large wide) {
		max-width: $bp-large;
	}
	@include mappy-bp(medium large) {
		max-width: $bp-medium;
	}
	@include mappy-bp(small medium) {
		max-width: $bp-small;
	}
	@include mappy-bp(max-width small) {
		max-width: 80%;
	}
	
	padding: 0 5%;
	margin: 0 auto;
}