@import "base";



//============================================================================
//================================= GENERAL ==================================
//============================================================================

body {
	background-color: $color-charcoal;
}



//============================================================================
//============================= NAVIGATION BAR ===============================
//============================================================================

nav {
	top: 0;
	position: fixed;
	z-index: 9999;
	background-color: color-charcoal-alpha(0.8);

	&.centered-flex {
		flex-direction: column;
    	height: 60px;
    }

	.main-menu {
	    list-style-type: none;
	    margin: auto;
	    padding: 0;
	    overflow: hidden;
	    width: 100%;

	    li {
	    	float: right;

			a {
				color: $color-pearl;
				text-align: center;
				padding: 0px 25px;
				
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				transition: 0.3s;
				font-size: 1.4rem;

				&:hover { 
					color: $color-teal; 
				}
			}

			&.collapse-icon {
				display: none;

				a {
					font-size: 2.4rem;
				}
			}
	    }
	}

	@include mappy-query(non-smartphone) {
		.main-menu-collapsible {
			display: none;
	    }
	}
	@include mappy-query(smartphone) {
		.main-menu {
			display: flex;
	    	justify-content: center;
	    	align-items: center;

			li {
				display: none;

				&.collapse-icon {
					float: left;
					display: inline-block;
				}
			}
		}

		.main-menu-collapsible {
			background-color: color-charcoal-alpha(0.8);
			position: fixed;
			top: 60px;
			width: 100%;
			overflow: hidden;
			padding: 0;
	    	list-style-type: none;
	    	display: none;

		    li {
		    	display: block;
		    	width: 100%;
		    	text-align: center;
		    	padding: 20px 0;

		    	&:not(:first-child) {
		    		border-top: 1px solid color-pearl-alpha(0.7);
		    	}

				a {
					color: $color-pearl;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1px;
					transition: 0.3s;
					font-size: 1.4rem;

					&:hover { 
						color: $color-teal; 
					}
				}
		    }
	    }
	}
}



//============================================================================
//=============================== PAGE HEADER ================================
//============================================================================

.page-header {

	text-align: center;
	background: $color-pearl;
	padding: 0;
	margin: 60px 0 -1px 0;

	.max-width-wrap {
		padding: 0%;
	}

	@include pv-responsive("height", calc(100vh - 60px), 280px, 380px, 500px, 700px);

	@include mappy-query(non-smartphone) {
		.page-header-content-inner {

			&.dark-overlay {
				background-color: transparent;
			}

			&.centered-flex {
				display: relative;
			}

			.profile-image {
				height: 105%;
				position: absolute;
				bottom: 0%;
				right: 0%;
			}

			.page-header-title {
				height: 100%;
				position: absolute;
				left: 5%;

				&.centered-flex {
					flex-direction: column;
					align-items: flex-start;
				}

				h1, h2 {
					text-align: left;
				}
			}
		}	
	}
	
	@include mappy-query(smartphone) {
		background-image: url('../images/headers/normalBlurred2.png');
		background-size: cover;
		background-position: 35% 50%;

		.max-width-wrap {
			max-width: 100%;
		}

		.page-header-content-inner {

			&.centered-flex {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;

			}

			.profile-image {
				height: 20vh;
				width: 20vh;
				min-height: 40px;
				min-width: 40px;
				margin-top: -10vh;
				border-radius: 50%;
				background: $color-pearl;
			}

			.page-header-title {
				margin-top: 20px;
				height: auto;
				position: relative;
				text-align: center;
				color: $color-pearl;

				&.centered-flex {
					flex-direction: column;
					justify-content: flex-start;
				}
			}
		}		
	}

	.page-header-content {
		height: 100%;
		position: relative;

		h1 {
			font-weight: $font-weight-thin;

			@include pv-responsive("font-size", 4.4rem, 4.6rem, 5.2rem, 7.0rem, 10.0rem);
		}

		h2 {
			margin: 0;
			font-weight: $font-weight-light;
			text-transform: lowercase;

			@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
		}
	}
}



//============================================================================
//=================================== INTRO ==================================
//============================================================================

.intro {
	@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

	@include background-image-fade-top-bottom(26,26,26,'../images/backgrounds/tokyo.jpg');
	background-color: $color-charcoal;
	background-position: center;
	background-size: cover;

	.intro-message {
		span {
			display: block;
			text-align: center;

			@include pv-responsive("font-size", 1.6rem, 1.8rem, 2.2rem, 2.8rem, 3.4rem);
		}
	}
}



//============================================================================
//=================================== MAIN ===================================
//============================================================================

main {
	background-color: $color-charcoal;

	.content-header {
		@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

		text-align: center;
		background-color: $color-pearl;

		.content-header-message {
			width: 100%;
			height: 100%;

			h4 { 
				text-transform: uppercase;
				@include pv-responsive("font-size", 1.8rem, 2.0rem, 2.2rem, 2.8rem, 3.4rem);
			}

			q {
				font-style: italic;
				@include pv-responsive("font-size", 1.8rem, 2.0rem, 2.2rem, 2.8rem, 3.4rem);
			}
		}
	}

	section {
		background-color: $color-charcoal;
		background-position: center;
		background-size: cover;

		@include pv-responsive("height", 400px, 280px, 380px, 500px, 700px);

		.section-content {
			
			.section-description {
				position: relative;
				width: 80%;
				text-align: right;

				h3 {
					@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
					font-weight: $font-weight-thin;
					margin-bottom: 20px;
				}

				span {
					font-weight: $font-weight-thin;
					@include pv-responsive("font-size", 1.4rem, 1.6rem, 2.0rem, 2.6rem, 3.2rem);
				}

				strong	{
					@include pv-responsive("font-size", 1.4rem, 1.6rem, 2.0rem, 2.6rem, 3.2rem);
				}

				a {
					margin-top: 20px;
					display: block;
					color: $color-teal;
					@include pv-responsive("font-size", 1.4rem, 1.6rem, 1.8rem, 2.2rem, 2.8rem);
				}
			}

			.section-image {
				img {
					max-width:100%;
					max-height:100%;
				}
			}

			@include mappy-query(non-smartphone) {

				.section-image {
					position: relative;
					height: 25%;
				}

				&.centered-flex {
					justify-content: space-between;
				}

				&.section-icon-right {
					.section-image {
						order: 2;
					}

					.section-description {
						order: 1;
						text-align: left;
					}
				}
			}
			
			@include mappy-query(smartphone) { 
				&.centered-flex {
					flex-direction: column;
				}

				.section-description {
					text-align: center;
				}

				.section-image {
					position: relative;
					height: 10%;
					min-height: 40px;
					min-width: 40px;
					margin-bottom: 20px;
				}
			}
		}
	}

	$gradient-gray-value: 26;
	.section-engineering {
		.dark-overlay-fade {
			@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.5);
		}

		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/computer.jpg');
	}

	.section-art {
		.dark-overlay-fade {
			@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.6);
		}
		
		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/colors.jpg');
	}

	.section-background {
		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/buildings.jpg');
	}	
}



//============================================================================
//================================== FOOTER ==================================
//============================================================================

footer {
	background-color: $color-charcoal;
	$footer-content-height: 85%;

	@include pv-responsive("height", 400px, 280px, 380px, 500px, 700px);

	.footer-content {

		height: $footer-content-height;
		flex-direction: column;
		justify-content: center;

		h5 {
			text-align: center;
			color: $color-teal;
			font-weight: $font-weight-thin;
			margin-bottom: 40px;
			@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.2rem);
		}

		.footer-content-inner {
			padding: 0;
			height: 50%;

			&.centered-flex {
				justify-content: space-around;
			}

			.contact-message {
				width: 65%;
				height: 100%;
				span {
					font-weight: $font-weight-thin;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.8rem, 2.4rem, 3.0rem);
				}
			}

			.separator {
				height: 100%;
				border-right: 1px solid $color-fuchsia;
			}

			.contact-info {
				width: 20%;
				height: 100%;
				margin-top: -20px;
				text-align: center;

				&.centered-flex {
					flex-direction: column;
				}

				h6 {
					margin: auto 0;
					font-weight: $font-weight-light;
					@include pv-responsive("font-size", 1.2rem, 1.2rem, 1.2rem, 1.4rem, 1.4rem);
				}

				a {
					color: $color-amber;
					font-weight: $font-weight-light;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.4rem, 1.8rem, 2.0rem);
				}

				img {
					height: 20px;
					width: 20px;
					margin-left: 5px;
				}
			}
		}

		@include mappy-query(smartphone) { 
			&.centered-flex {
				justify-content: center;
			}

			h5 {
				margin-bottom: 20px;
			}

			.footer-content-inner {
				width: 100%;
				height: auto;

				&.centered-flex {
					width: 100%;
					flex-direction: column;
					justify-content: center;
				}

				.contact-message {
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
				}

				.separator {
					width: 100%;
					height: 1px;
					border-top: 1px solid $color-fuchsia;
				}

				.contact-info {
					margin-top: 10px;
					width: 100%;
					height: auto;

					h6 {
						margin: 10px;
					}

				}
			}
		}
	}

	.copyright {
		background-color: $color-charcoal;
		text-align: center;
		text-transform: uppercase;
		height: 100% - $footer-content-height;

		span {
			display: block;
			opacity: 0.5;
			@include pv-responsive("font-size", 1.2rem, 1.2rem, 1.2rem, 1.4rem, 1.4rem);
		}
	}
}