//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "bootstrap";
@import "utilities";



//============================================================================
//=============================== GLOBAL STYLES ==============================
//============================================================================

*{
	margin: 0;
	padding: 0;
	color: $color-ash;
	font-family: $font-family-base;
	font-weight: $font-weight-thin;
}

body {
	background-color: $color-charcoal;
}

article, section, main, aside, header, footer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

span {
	font-weight: $font-weight-thin;
}

strong {
	font-weight: $font-weight-light;
}

a {
	font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5 ,h6 {
	text-transform: uppercase;
	font-family: $font-family-base;
	font-weight: $font-weight-light;
	margin-top: 0;
}

.text-color-pearl {
	span, p, q, h1, h2, h3, h4, h5, h6, strong {
		color: $color-pearl;
	}
}



//============================================================================
//================================== LAYOUT ==================================
//============================================================================

@mixin centered-flex {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin max-width-wrap {
	@include pv-responsive("max-width", 80%, $bp-small, $bp-medium, $bp-large, $bp-wide);
	padding: 0 5%;
	margin: 0 auto;
}



//============================================================================
//============================= NAVIGATION BAR ===============================
//============================================================================

.main-navbar {
	@include centered-flex;

	top: 0;
	position: fixed;
	z-index: 9999;
	background-color: color-charcoal-alpha(0.8);
	flex-direction: column;
    height: 60px;

	.main-menu {
	    list-style-type: none;
	    margin: auto;
	    padding: 0;
	    overflow: hidden;
	    width: 100%;

	    li {
	    	float: right;

			a {
				color: $color-pearl;
				text-align: center;
				padding: 0px 25px;
				
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				transition: 0.3s;
				font-size: 1.4rem;

				&:hover { 
					color: $color-teal; 
				}
			}

			&.collapse-icon {
				display: none;

				a {
					font-size: 2.4rem;
				}
			}
	    }
	}

	@include mappy-query(non-smartphone) {
		.main-menu-collapsible {
			display: none;
	    }
	}
	@include mappy-query(smartphone) {
		.main-menu {
			display: flex;
	    	justify-content: center;
	    	align-items: center;

			li {
				display: none;

				&.collapse-icon {
					float: left;
					display: inline-block;
				}
			}
		}

		.main-menu-collapsible {
			background-color: color-charcoal-alpha(0.8);
			position: fixed;
			top: 60px;
			width: 100%;
			overflow: hidden;
			padding: 0;
	    	list-style-type: none;
	    	display: none;

		    li {
		    	display: block;
		    	width: 100%;
		    	text-align: center;
		    	padding: 20px 0;

		    	&:not(:first-child) {
		    		border-top: 1px solid color-pearl-alpha(0.7);
		    	}

				a {
					color: $color-pearl;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1px;
					transition: 0.3s;
					font-size: 1.4rem;

					&:hover { 
						color: $color-teal; 
					}
				}
		    }
	    }
	}
}



//============================================================================
//=============================== PAGE HEADER ================================
//============================================================================

.page-header {

	text-align: center;
	background: $color-pearl;
	padding: 0;
	margin: 60px 0 -1px 0;
	
	@include pv-responsive("height", calc(100vh - 60px), 280px, 380px, 500px, 700px);

	@include mappy-query(smartphone) {
		background-size: cover;
		background-position: 35% 50%;
	}
	
	.page-header-content {
		@include max-width-wrap;

		height: 100%;
		position: relative;
		padding: 0%;
		
		@include mappy-query(smartphone) {
			max-width: 100%;
		}
		.page-header-content-inner {
			@include centered-flex;

			.page-header-title {
				@include centered-flex;
			}

			@include mappy-query(non-smartphone) {
				&.dark-overlay {
					background-color: transparent;
				}
				
				display: relative;

				.profile-image {
					height: 105%;
					position: absolute;
					bottom: 0%;
					right: 0%;
				}

				.page-header-title {
					height: 100%;
					position: absolute;
					left: 5%;
					flex-direction: column;
					align-items: flex-start;
					

					h1, h2 {
						text-align: left;
					}
				}	
			}

			@include mappy-query(smartphone) {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				
				.profile-image {
					height: 20vh;
					width: 20vh;
					min-height: 40px;
					min-width: 40px;
					margin-top: -10vh;
					border-radius: 50%;
					background: $color-pearl;
				}

				.page-header-title {

					margin-top: 20px;
					height: auto;
					position: relative;
					text-align: center;
					color: $color-pearl;

					flex-direction: column;
					justify-content: flex-start;
				}		
			}
		}

		h1 {
			font-weight: $font-weight-thin;

			@include pv-responsive("font-size", 4.4rem, 4.6rem, 5.2rem, 7.0rem, 10.0rem);
		}

		h2 {
			margin: 0;
			font-weight: $font-weight-light;
			text-transform: lowercase;

			@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
		}

		
	}
}



//============================================================================
//=================================== INTRO ==================================
//============================================================================

.intro {
	@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

	background-color: $color-charcoal;
	background-position: center;
	background-size: cover;

	.intro-message {
		@include centered-flex;
		@include max-width-wrap;

		span {
			display: block;
			text-align: center;
			color: $color-pearl;

			@include pv-responsive("font-size", 2.0rem, 2.0rem, 2.4rem, 2.8rem, 3.4rem);

			strong {
				color: $color-pearl;
			}
		}
	}
}



//============================================================================
//================================== FOOTER ==================================
//============================================================================

footer {
	background-color: $color-charcoal;
	$footer-content-height: 85%;

	@include pv-responsive("height", 500px, 280px, 380px, 500px, 700px);

	.footer-content {
		@include centered-flex;
		@include max-width-wrap;

		height: $footer-content-height;
		flex-direction: column;
		justify-content: center;

		h5 {
			text-align: center;
			color: $color-teal;
			font-weight: $font-weight-thin;
			margin-bottom: 40px;
			@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.2rem);
		}

		.footer-content-inner {
			@include centered-flex;

			padding: 0;
			height: 50%;
			
			justify-content: space-around;

			.contact-message {
				@include centered-flex;
				width: 55%;
				height: 100%;
				span {
					font-weight: $font-weight-thin;
					color:$color-pearl;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.8rem, 2.4rem, 3.0rem);

					strong {
						color:$color-pearl;
					}
				}
			}

			.separator {
				height: 100%;
				border-right: 1px solid $color-fuchsia;
			}

			.contact-info {
				@include centered-flex;
				width: 30%;
				height: 100%;
				margin-top: -20px;
				text-align: center;

				flex-direction: column;

				h6 {
					margin: auto 0;
					font-weight: $font-weight-light;
					color: $color-pearl;
					@include pv-responsive("font-size", 1.2rem, 1.2rem, 1.2rem, 1.4rem, 1.4rem);
				}

				a {
					color: $color-amber;
					font-weight: $font-weight-light;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.4rem, 1.8rem, 2.0rem);
				}

				img {
					height: 20px;
					width: 20px;
					margin-left: 5px;
				}

				span {
					color: $color-pearl;

					strong {
						color:$color-pearl;
					}
				}
			}
		}

		@include mappy-query(smartphone) {
			justify-content: center;

			h5 {
				margin-bottom: 20px;
			}

			.footer-content-inner {
				width: 100%;
				height: auto;
				width: 100%;
				flex-direction: column;
				justify-content: center;

				.contact-message {
					width: 100%;
					text-align: center;
					margin-bottom: 20px;
				}

				.separator {
					width: 100%;
					height: 1px;
					border-top: 1px solid $color-fuchsia;
				}

				.contact-info {
					margin-top: 10px;
					width: 100%;
					height: auto;

					h6 {
						margin: 10px;
					}
				}
			}
		}
	}

	.copyright {
		@include centered-flex;
		background-color: $color-charcoal;
		text-align: center;
		text-transform: uppercase;
		height: 100% - $footer-content-height;

		span {
			color:$color-pearl;
			display: block;
			opacity: 0.5;
			@include pv-responsive("font-size", 1.2rem, 1.2rem, 1.2rem, 1.4rem, 1.4rem);

			strong {
				color:$color-pearl;
			}
		}
	}
}



//============================================================================
//================================= OVERLAYS =================================
//============================================================================

.dark-overlay {
    background-color: color-charcoal-alpha();
    position: absolute;
    width: 100%;
    height: 100%;
}

.dark-overlay-fade {
	@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
}


