//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";



//============================================================================
//=============================== PAGE HEADER ================================
//============================================================================

.page-header {

	@include mappy-query(smartphone) {
		background-image: url('../images/headers/normalBlurred2.png');	
	}
}



//============================================================================
//=================================== INTRO ==================================
//============================================================================

.intro {

	@include background-image-fade-top-bottom(26,26,26,'../images/backgrounds/tokyo.jpg');
}



//============================================================================
//=================================== MAIN ===================================
//============================================================================

main {
	background-color: $color-charcoal;

	.content-header {
		@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

		text-align: center;
		background-color: $color-pearl;

		.content-header-message {
			width: 100%;
			height: 100%;

			h4 { 
				text-transform: uppercase;
				@include pv-responsive("font-size", 2.0rem, 2.2rem, 2.4rem, 2.8rem, 3.4rem);
			}

			q {
				font-style: italic;
				@include pv-responsive("font-size", 2.0rem, 2.2rem, 2.4rem, 2.8rem, 3.4rem);
			}
		}
	}

	section {
		background-color: $color-charcoal;
		background-position: center;
		background-size: cover;

		@include pv-responsive("height", 400px, 280px, 380px, 500px, 700px);

		.section-content {
			
			.section-description {
				position: relative;
				width: 80%;
				text-align: right;

				h3 {
					@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
					font-weight: $font-weight-thin;
					margin-bottom: 20px;
				}

				span {
					font-weight: $font-weight-thin;
					@include pv-responsive("font-size", 1.6rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);
				}

				strong	{
					@include pv-responsive("font-size", 1.6rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);
				}

				a {
					margin-top: 20px;
					display: block;
					color: $color-teal;
					@include pv-responsive("font-size", 1.6rem, 1.8rem, 1.8rem, 2.2rem, 2.8rem);
				}
			}

			.section-image {
				img {
					max-width:100%;
					max-height:100%;
				}
			}

			@include mappy-query(non-smartphone) {

				.section-image {
					position: relative;
					height: 25%;
				}

				&.centered-flex {
					justify-content: space-between;
				}

				&.section-icon-right {
					.section-image {
						order: 2;
					}

					.section-description {
						order: 1;
						text-align: left;
					}
				}
			}
			
			@include mappy-query(smartphone) { 
				&.centered-flex {
					flex-direction: column;
				}

				.section-description {
					text-align: center;
				}

				.section-image {
					position: relative;
					height: 10%;
					min-height: 40px;
					min-width: 40px;
					margin-bottom: 20px;
				}
			}
		}
	}

	$gradient-gray-value: 26;
	.section-engineering {
		.dark-overlay-fade {
			@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.5);
		}

		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/computer.jpg');
	}

	.section-art {
		.dark-overlay-fade {
			@include dark-overlay-fade-top-bottom-color(26, 26, 26, 0.6);
		}
		
		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/colors.jpg');
	}

	.section-background {
		@include background-image-fade-top-bottom($gradient-gray-value,$gradient-gray-value,$gradient-gray-value,'../images/backgrounds/buildings.jpg');
	}	
}


