//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";



//============================================================================
//=============================== PAGE HEADER ================================
//============================================================================

.page-header {

	@include mappy-query(smartphone) {
		@include background-image-blackened('../images/headers/normalBlurred2.png', 0.4);
	}
}



//============================================================================
//=================================== INTRO ==================================
//============================================================================

.intro {
	@include background-image-blackened('../images/backgrounds/tokyo.jpg', 0.5);
}



//============================================================================
//=================================== MAIN ===================================
//============================================================================

main {
	background-color: $color-pearl;

	.content-header {
		@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

		text-align: center;
		background-color: $color-pearl;

		.content-header-message {
			@include centered-flex;
			@include max-width-wrap;

			width: 100%;
			height: 100%;

			h4 { 
				text-transform: uppercase;
				@include pv-responsive("font-size", 2.0rem, 2.2rem, 2.4rem, 2.8rem, 3.4rem);
			}

			q {
				font-style: italic;
				@include pv-responsive("font-size", 2.0rem, 2.2rem, 2.4rem, 2.8rem, 3.4rem);
			}
		}
	}

	section {
		@include centered-flex;

		background: $color-pearl;
		background-position: center;
		background-size: cover;
		position: relative;
		margin-bottom: 30px;

		@include pv-responsive("height", 400px, 280px, 380px, 500px, 700px);

		.section-inner {
			width: calc(100% - 60px);
			height: 100%;

			.section-content {
				@include centered-flex;
				@include max-width-wrap;
				
				.section-description {
					position: relative;
					width: 80%;
					text-align: right;

					h3 {
						@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
						font-weight: $font-weight-thin;
						margin-bottom: 20px;
						color:$color-pearl;
					}

					span {
						font-weight: $font-weight-thin;
						color: $color-pearl;
						@include pv-responsive("font-size", 1.6rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);
					}

					strong	{
						color: $color-pearl;
						@include pv-responsive("font-size", 1.6rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);
					}

					a {
						margin-top: 20px;
						display: block;
						color: $color-teal;
						@include pv-responsive("font-size", 1.6rem, 1.8rem, 1.8rem, 2.2rem, 2.8rem);
					}
				}

				.section-image {
					img {
						max-width:100%;
						max-height:100%;
					}
				}

				@include mappy-query(non-smartphone) {

					.section-image {
						position: relative;
						height: 25%;
					}

					justify-content: space-between;

					&.section-icon-right {
						.section-image {
							order: 2;
						}

						.section-description {
							order: 1;
							text-align: left;
						}
					}
				}
				
				@include mappy-query(smartphone) { 
					flex-direction: column;

					.section-description {
						text-align: center;
					}

					.section-image {
						position: relative;
						height: 10%;
						min-height: 40px;
						min-width: 40px;
						margin-bottom: 20px;
					}
				}
			}
		}	

		&#engineering {
			.section-inner {
				@include background-image-blackened('../images/backgrounds/computer.jpg', 0.5);
			}	
		}

		&#art {
			.section-inner {
				@include background-image-blackened('../images/backgrounds/colors.jpg', 0.5);
			}
		}

		&#background {
			.section-inner {
				@include background-image-blackened('../images/backgrounds/buildings.jpg', 0.5);
			}
		}		
	}

	

	
}
