/* Coolors Exported Palette - coolors.co/060606-11afaa-e22d6c-ffb600-fefefe */

$dark-ash: #060606; //rgba(6, 6, 6, 100)
$teal: #11afaa; //rgba(17, 175, 170, 100)
$fuchsia: #e22d6c; //rgba(226, 45, 108, 100)
$amber: #ffb600; //rgba(255, 182, 0, 100)
$pearl: #fefefe; //rgba(254, 254, 254, 100)